body {
  background: black;
  margin: 0;
  width: 100%;
  text-align: center;
}
.wrapper {
  width: 800px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

.level1,
.level2,
.level3 {
  height: 9%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  /* background: gray; */
  height: 130%;
  width: 9%;
  margin: 3%;
  border-radius: 5px;
  margin-bottom: 0px;
  align-content: center;
}

.color-picker {
  background: gray;
  height: 100%;
  width: 9%;
  margin: 1%;
  border-radius: 5px;
}

.palette {
  height: 70px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
}

.split{
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  padding: 0 15px;
}
button {
  height: 50px;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  background: none;
  outline: none;
  align-content: center;
}

.instructions{
   font-size: 25px;
  font-family: "Raleway", sans-serif;
}
.title {
  font-family: "Raleway", sans-serif;
  font-size: 125px;
  font-weight: 200;
  text-align: center;
  margin: 150px, auto;
  padding-top: 150px;
  z-index: 3;
}
.landing-page{
  -webkit-animation: color-change-5x 10s linear infinite alternate both;
  animation: color-change-5x 10s linear infinite alternate both;
  text-align: center;
  margin: 0 auto;
}

body > header > h1 {
  /* letter-spacing: 6px; */
  /* text-align: center; */
  padding-top: 15px;
  justify-content: center;
  padding: 0 150px;
}

header {
  display: flex;
  justify-content: center;
align-items: center;
  background: rgb(1, 1, 80);
  margin-top: 0;
  margin-bottom: 3%;
  height: 150px;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-left: 5%;

}
body > div > a > button{
  /* text-align: center; */
  /* margin: 0 auto; */
  align-items: center;
  align-content: center;
}
.color-change-5x {
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  justify-content: center;
  margin: 0 auto;
  z-index: 2;
  text-decoration: none;
  outline: none;
}
/*Sourced From Animista http://animista.net/play/background/color-change/color-change-5x */
@-webkit-keyframes color-change-5x {
  0% {
    background: cyan;
  }
  25% {
    background: darkviolet;
  }
  50% {
    background: crimson;
  }
  75% {
    background: gold;
  }
  100% {
    background: darkgreen;
  }
}
@keyframes color-change-5x {
  0% {
    background: cyan;
  }
  25% {
    background: darkviolet;
  }
  50% {
    background: crimson;
  }
  75% {
    background: gold;
  }
  100% {
    background: darkgreen;
  }
}

.hidden {
  display: none;
}

/*Sourced from Animista - http://animista.net/play/entrances/slide-in*/
.slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-in-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* Sourced From: https://jsfiddle.net/hcxabsgh/ */

canvas {
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

#content {
  text-align: center;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  color: silver;
  font-family: verdana;
  font-size: 45px;
  font-weight: bold;
}

.buttonContainer {
  display: inline-block;
}

@media screen and (max-width: 768px){
header{
  height: 125px;
  font-size: 15px;
  margin-bottom: 15px;
}
body > header > h1{
text-align: center;
letter-spacing: 1px;
}
.wrapper{
  height: 600px;
  width: 100%;
  text-align: center;
}

.palette{
  height: 12%;
}


}

@media screen and (max-width: 400px){
header{
  height: 100px;
  font-size: 10px;
  margin-bottom: 15px;
}
body > header > h1{
text-align: center;
letter-spacing: 1px;
}
.wrapper{
  height: 300px;
  width: 100%;
}

.palette{
  height: 10%;
}

}
