body{
  background: black;
}
.wrapper{
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;

}

.level1, .level2, .level3{
  height: 9%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center


}

.hide-level{
  visibility: hidden;
}

.square{
  /* background: gray; */
  height: 100%;
  width: 9%;
  margin: 3%;
  border-radius: 5px;
   margin-bottom: 0px;
   align-content: center;

}

.color-picker{
  background: gray;
  height: 100%;
  width: 9%;
  margin: 1%;
  border-radius: 5px;
}


/* .line{
  border-bottom: 1px solid white;
  height: 1%;
  width: 97%;
  margin-left: 1%;
  text-align: center;
} */

.palette{
  height: 70px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.start-button{
  text-align: center;
  margin: 25, auto;
}

button{
  background-color: black;
  color: rgb(43, 220, 209);
  border: 1px rgb(43, 220, 209) solid;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 200;
  padding: 15px;


}

.title{
  color: rgb(43, 220, 209);
  font-family: 'Raleway', sans-serif;
  font-size: 125px;
  font-weight: 200;
  text-align: center;
  margin: 150px, auto;
  padding-top: 150px;
}

/* input{
  margin: 25, auto

} */

.check-answer{
  height: 50px;
  background-color: black;
  border: 1px solid rgb(43, 220, 209);
  color: rgb(43, 220, 209);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  justify-content: center;
  margin: 0 auto
}

.level-one-complete{
  background: black;
  color: rgb(43, 220, 209);
}

.red

.orange

.yellow

.light-green

.lightBlue

.darkBlue

.purple

.pink
